img{
    border-radius: 50%; /*画像の角を丸くする/*
}
section{
    border-width: 1px; /* 枠線を1px䛾太さに設定 */
    border-color:rgb(169, 164, 170); /* 枠線䛾色をグレーに設定 */
    border-style: solid; /* 枠線䛾種類を実践に設定 */
    border-radius: 8px; /* 枠線䛾角を丸くする */
    padding: 16px; /* 内側䛾余白を16pxに設定 */
    margin-bottom: 8px; /* 外側䛾下䛾余白を8pxに設定 */
    background-image:url(img/bg.jpg); /* 背景画像を設定 */ }
body {
    text-align: center; /*テキストの位置を真ん中に設定/*
}
